/* common */

h1 {
  font-size: 24px;
  padding-left: 16px;
  border-left: 16px solid rgba(1, 1, 190, .9);
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
}

ul a {
  text-decoration: none;
}

a {
  color: inherit;
}

/* body */
body {
  margin: 0;
}

h6 {
  margin: 0;
}

section {
  padding: 0 4px;
}

/* header */
/* footer */
header {
  /* background-color: rgba(14, 13, 13, 0.562); */
  background-color: rgb(140, 140, 140);
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  transition: background-color .5s;
}

header.scroll {
  background-color: rgba(14, 13, 13, 0.562);
  /* color: red; */
}

#closeIcon {
  color: white;
}

footer {
  background-color: rgba(14, 13, 13, 0.562);
  width: 100%;
  height: 60px;
  display: flex;
}

#twitter i {
  font-size: 40px;
  cursor: pointer;
}

#twitter:hover {
  opacity: .8;
}


/* MediaCommon */
.info {
  height: 200px;
  overflow: scroll;
  border: 1px solid gray;
}

.SmartPhone-Menu {
  margin-left: auto;
}

.SmartPhone-Menu #MenuIcon{
  font-size: 48px;
  line-height: 64px;
  cursor: pointer;
  padding-right: 8px;
}

.SmartPhone-Menu #MenuIcon.hide {
  display: none;
}

.text {
  padding-top: 60px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform .3s, opacity .3s;
}

.overlay a {
  color: white;
  font: bold;
}

.overlay #closeIcon  {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 48px;
  cursor: pointer;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay.show li{
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.pc-menu {
  display: none;
}

#up {
  position: fixed;
  right: 16px;
  bottom: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#up i {
  font-size: 32px;
}

#up.apper {
  opacity: 1;
}

/* PC screen*/
@media (min-width: 640px) {

  
  
  section {
    display: flex;
  }
  
  .text {
    /* 可変幅にする */
    flex: 1;
    padding-top: 60px;
  }
  
  .SubMenu {
    width: 320px;
    padding-top: 60px;
  }
  
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
 
  .pc-menu a {
    display: block;
    width: 80px;
    text-align: center;
    line-height: 60px;
  }

  .pc-menu a:hover {
    background-color: rgba(223, 223, 223, 0.7);
    opacity: .5;
    transition: opacity 1s;
  }

  .SmartPhone-Menu {
    display: none;
  }

}