h1 {
  font-size: 24px;
  padding-left: 16px;
  border-left: 16px solid orange;
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
}

h1.profile {
  font-size: 24px;
  padding-left: 16px;
  border-left: 16px solid blue;
}